@import url('btn.css');
@import url('navbar.css');
@import url('header.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #8e2424;
  --color-primary-80: #8f2424cc;
  --color-gray-500: #667085;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding-inline: 20px;
}