@import url('pattern.css');
@import url('btn.css');
@import url('navbar.css');
@import url('header.css');
@import url('metrics.css');
@import url('available.css');
@import url('depositions.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #8e2424;
  --color-primary-80: #8e2424cc;
  --color-primary-5: #8e24240d;
  --color-gray-200: #eaecf0;
  --color-gray-500: #667085;
  --color-gray-900: #101828;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
